.contentCurrency {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 100px;
}

input,
select {
  color: white;
  background: none;
  border-color: #8167a3;
  margin: 10px;
  height: 50px;

  font-family: 'Inter';
  border-radius: 10px;
}

input {
  padding-left: 20px;
  margin: 10px;
}

select {
  padding: 10px;
  padding-right: 10px;
}

select option {
  color: white;
  background: #241636;
}
